@use 'animations';

header {
  .navbar {
    position: relative;
    background-color: var(--dark-slate-blue) !important;
    box-shadow: 0 20px 15px 0 rgba(23, 23, 23, 0.05) !important;
  }
}

.navbar-nav,
.footer-navbar {
  .nav-item {
    &.active {
      a {
        font-weight: bold;
        color: var(--base-color) !important
      }
    }

    a:hover {
      color: var(--base-color)
    }

    .nav-link {
      opacity: 1 !important;
    }
  }
}

.home {
  header {
    .navbar {
      position: relative;
    }
  }
}

.sticky {
  &.sticky-active {
    .navbar {
      animation-name: opacityMenu;
      animation-duration: 1s;
      position: fixed;
    }
  }
}