@use 'animations';

// header {
//   .navbar {
//     position: relative;
//     background-color: var(--dark-slate-blue) !important;
//     box-shadow: 0 20px 15px 0 rgba(23, 23, 23, 0.05) !important;
//   }
// }

// .navbar-nav,
// .footer-navbar {
//   .nav-item {
//     &.active {
//       a {
//         font-weight: bold;
//         color: var(--base-color) !important
//       }
//     }

//     a:hover {
//       color: var(--base-color)
//     }

//     .nav-link {
//       opacity: 1 !important;
//     }
//   }
// }

// .home {
//   header {
//     .navbar {
//       position: relative;
//     }
//   }
// }

// .sticky {
//   &.sticky-active {
//     .navbar {
//       animation-name: opacityMenu;
//       animation-duration: 1s;
//       position: fixed;
//     }
//   }
// }

/* header */
// .navbar .navbar-nav .nav-link {
//   font-size: 18px;
// }

// header .navbar-brand img {
//   max-height: 50px;
// }

// footer .footer-logo img {
//   max-height: 50px;
// }

// .navbar .navbar-nav .simple-dropdown .dropdown-menu {
//   width: 260px;
// }

// .navbar .navbar-nav .simple-dropdown .dropdown-menu li a {
//   font-size: 16px;
//   line-height: 30px;
//   font-weight: 500;
// }

// .navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu {
//   width: 360px;
// }

// .header-icon .header-social-icon a {
//   font-size: 17px;
//   padding-left: 23px;
// }

/* header */
.sticky, .sticky-active{
  .navbar{
    @media (max-width: 767.98px) {
      top: 0px !important;
    }
  }
}
.navbar .navbar-nav .nav-link {
    font-size: 18px;
    font-family: 'cerebri-sans-medium' !important;
}
.navbar {
  .navbar-nav {
    .nav-item{
      &.active{
        .nav-link{
          opacity: 1;
          color : var(--base-color);
        }
      }
    }
  }
}
.navbar .navbar-nav .dropdown .dropdown-menu a {
    font-size: 16px;
    line-height: 28px;
    font-family: 'cerebri-sans-regular' !important; 
}
header .btn.btn-small {
    font-size: 14px
}
header .btn.btn-small i {
    top:-2px;
}
header .navbar-brand img {
  max-height: 50px;
}

footer .footer-logo img {
  max-height: 50px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
    width: 300px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a {
    border-bottom: 1px solid var(--very-light-gray);
    padding: 20px 30px;
    font-size: 17px;
    color: var(--dark-gray) !important; 
    font-family: 'cerebri-sans-medium' !important;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a:hover{
    background-color: var(--very-light-gray);
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a img {
    width: 40px;
    margin-right: 10px;
}

//Banner
.sec-banner {
  margin-top: 50px;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

footer{
  .useful-links{
    ul > li a.nav-link{
      padding: 0;
    }
  }
}