.wp-block-file{
  > a {
    font-family: var(--alt-font);
    font-size: 1rem;
    text-decoration: underline;
    
  }
}

.has-drop-cap:first-letter {
    font-weight: 700;
    font-size: 3rem !important;
    padding-right: 0.08em;
}