/* variables */
:root {
  --base-color: #E47512;
  --secondary-color: #F0A50F;
  --dark-gray: #292d36;
  --ternary-color: #06923F;
  --accent-color: #D2EBCC;
  --medium-gray: #808291;
  --primary-font: "Kumbh Sans", sans-serif;
  // --alt-font: "Kumbh Sans", sans-serif;
  --alt-font: 'cerebri-sans-regular';
}