
.login {

  h1 {
    >a {
      background-image: url('../images/thrive_logo_black.webp');
      height: 80px;
      background-size: 200px;
      width: 200px;
    }
  }
}

.login {
  &.interim-login {
    background-color: inherit;

    h1 {
      >a {
        background-image: url('../images/thrive_logo_black.webp');
        height: 80px;
        background-size: 200px;
        width: 200px;
      }
    }
  }
}